@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #09090b;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #27272a;
}
::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 4px;
}
